footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4em 0;
    background-color: #000;
    color: #fff;
    /* position: absolute; */
    bottom: 0;
}